* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:lightblue;
    
}


header {
    background-color: #74C2C8;
    color: black;
    padding: 20px;
    text-align: center;
    height: 95px;
    width: 100%;
    
}


header nav {
    margin-top: 20px;
}

header nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}



main {
    padding: 20px;
    text-align: center;
}

.products {
    list-style: none;
    padding: 0;
}

.products li {
    background-color: #caf0f8;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}

footer {
    background-color: #74C2C8;
    color: black;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 45px;
    
}
